
nav{
	background-color: grey; 
	padding:10px;
	
}

*{
	box-sizing: border-box;
	font-family: 'Balsamiq Sans', cursive;
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
}

a.navbar-brand{
	font-size: 2em;
	text-decoration: none;
}

h2{
	margin-top: 10px;
}

div.container-fluid{
	width: 100%;
}


.grid{
	border: 1px solid darkgrey;
}

.navbar .navbar-nav{
	margin-top: 63px;
	height: 100vh;
}



div#collapsable-nav.navbar-collapse.collapse.show{
	height: 225px;
}


.item{
	position: relative;
	top: 0;
	background-color: grey;
	margin: 15px;
	padding: 25px;
	border: 3px solid black;
	height: 2490px;
}